# ===================================================================
# tpDcc-libs-svg requirements file
# ===================================================================
pysvg==0.2.2;python_version < '3'
pysvg-py3;python_version >= '3'